/* TEXTOS */
.textos{
    display: flex;
    
}
.sobre-nos{
    width: 100%;
}
.textos__descricao{
    width: 80%;
}
.textos p{
    font-size: 20px;
   font-weight: 700;
   margin-bottom: 1em;
}   
/* VIDEO */
.video{
    display: flex;
    justify-content: center;
}
.video iframe{
    width: 80%;
    height: 400px;
}
/* MISSAO E VISAO */
.missao__wrapper{
    background-color: #EFF7F2;
    padding: 5em;
    margin-top: -200px;
    padding-top: 250px;
}
.missao__textos, .visao__textos{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.missao__textos .textos, .visao__textos .textos{
    display: flex;
    flex-direction: column;
}

.missao__textos h3, .visao__textos h3{
    font-weight: 700;
}
.missao__textos .textos h1, .visao__textos .textos h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 1em 0;
}
.textos__descricao p{
    font-weight: 300;
    font-size: 16px;
}

/* PUBLICO */
.publico__wrapper {
    display: flex;
    justify-content: center;
}

.publico {
    background-color: #000;
    color: #FFF;
    display: flex;
    width: 90%;
    border-radius: 12px;
    padding: 2em 0 2em 2em;
}

.publico__textos {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.publico__textos h3 {
    font-weight: 700;
}

.publico__textos h1 {
    font-size: 32px;
    font-weight: 700;
}

.publico__textos p {
    color: lightgrey;
}

.publico__textos ul {
    display: flex;
    gap: 10px;
}

.publico__textos ul li {
    display: flex;
    flex-direction: column;
}

.publico__textos ul li p {
    font-size: 24px;
    color: #FFF;
}

.publico__textos ul li span {
    font-size: 12px;
    color: darkgrey;
}

.publico__imagem {
    display: flex;
}

.publico__imagem img {
    width: 100%;
}







/* CONHEÇA O TIME */
.time__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 2em 0;
}

.time__textos h1 {
    font-size: 48px;
    font-weight: 700;
}

.time__textos p {
    text-align: center;
    width: 80%;
}

.time__thumb ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.time__thumb ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.time__thumb__nome {
    font-size: 20px;
    font-weight: 700;
}

.time__thumb__links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .publico {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url('../assets/publico.png');
                background-size: cover;
                background-repeat: no-repeat;
    }

    .publico__textos {
        width: fit-content;
        margin-right: 1em;
    }

    .publico__imagem img {
        display: none;
    }
.time__textos h1{
    font-size: 38px;
    margin: 0 0.5em;
    text-align: center;
}
    .time__thumb ul li {
        font-size: 18px;
        text-align: center;
        width: 130px;
    }

    .time__thumb__nome {
        font-size: 18px;
        text-align: center;
    }

    .time__thumb__cargo {
        font-size: 14px;
   }

   .eventos__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .eventos{
    width: fit-content;
   }
   .eventos h1 {
    margin: 0;
   }
}