@media (max-width: 1199px) {
    .footer {
        margin: 1em 0;
        flex-direction: row;
    }

    .dashboard__wrapper {
        padding: 4em 2em;
    }
}

/* notebook */
@media (max-width: 991px) {
    .sobre-nos {
        width: 100%;
    }

    .sobre-nos__textos {
        width: fit-content;
        margin-right: 1em;
    }

    /* H1 */
    .sobre-nos__textos h1 {
        font-size: 36px;
    }

    .header .logo {
        width: 120px;
    }

    img {
        width: 100%;
    }

    .play_video img {
        width: fit-content;
    }

    .hero h1 {
        width: fit-content;
    }

    .hero__line hr {
        height: 1px;
        margin: 0.5em;
        width: 100%;
    }

    .aulas__textos ul {
        flex-wrap: wrap;
    }

    .aulas__textos__item {
        padding: 1.5em 1em;
        width: 220px;
        height: 300px;
    }

    .aplicativo__textos ul li img {
        width: fit-content;
    }

    .aplicativo__textos h1 {
        font-size: 36px;
        width: fit-content;
        margin: 0 0 1em;
    }

    .dashboard__textos__item,
    .header__menu__item {
        font-size: 12px;
    }

    .aulas__textos h1 {
        font-size: 36px;
        width: fit-content;
    }

    .dashboard__textos ul {
        gap: 0.5em;
    }

    .aulas {
        width: 100%;
    }

    .eventos hr,
    noticias__header hr {
        width: 100px;
    }
    .newsletter h2{
        font-size: 30px;
    }

    .input input {
        width: 130px;
    }

}

/* tablet */
@media (max-width: 767px) {
    .header__menu__item {
        font-size: 12px;
    }

    .header__menu,
    .sobre-nos__imagem {
        display: none;
    }

    .hamburguer {
        display: block;
    }

    .aulas__textos ul {
        flex-direction: column;
    }
    .footer {
        padding: 1em;
        flex-direction: column;
        gap: 1em;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h2{
        font-size: 30px;
    }

}

/* celular */
@media (max-width: 576px) {
    .hamburguer {
        display: block;
    }

    .hero__wrapper {
        padding: 2em 1em;
        height: 400px;
    }

    .hero h1,
    .sobre-nos__textos h1,
    .aplicativo__textos h1,
    .aulas__textos h1,
    .dashboard__textos h1,
    .planos h1,
    .noticias__header h1,
    .eventos h1 {
        font-size: 24px;
        width: 70%;
        margin-bottom: 1em;
    }

    .hero h1 {
        margin-bottom: 3em;
        width: 80%;
    }

    .hero__buttons {
        flex-direction: column;
        width: fit-content;
    }

    .hero__line {
        align-items: center;
    }

    .hero__line p,
    .aplicativo__textos p,
    .aulas__textos p,
    .dashboard__textos p {
        font-size: 12px;
    }

    /* SOBRE NOS*/
    .sobre-nos__wrapper {
        padding: 2em 0;
        flex-direction: column;
        align-items: baseline;
    }

    .respiro hr {
        width: 2em;
    }

    .sobre-nos {
        width: 90%;
        margin: 0;
    }

    .sobre-nos__textos h1 {
        margin: 0 0 1em;
        width: fit-content;
    }

    .sobre-nos__textos p {
        font-size: 14px;
    }

    /* APLICATIVO */

    .aplicativo__wrapper {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url('../assets/fotos_aplicativo.png');
        padding: 1em;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aplicativo {
        width: fit-content;
        color: #FFF;
    }

    .aplicativo .respiro {
        display: none;
    }

    .aplicativo__textos__item h4,
    .aulas__textos__item h4 {
        font-size: 18px;
    }

    .aplicativo__textos__item span,
    .aulas__textos__item p {
        font-size: 14px;
    }

    .aplicativo__imagem img {
        display: none;
    }

    /* AULAS */
    .aulas__wrapper {
        margin: 0;
        padding: 1em 0;
        justify-content: flex-start;
    }

    .aulas__textos__item {
        padding: 1em;
        height: fit-content;
        align-items: center;
    }

    .aulas__textos__item button {
        margin: 0;
        width: fit-content;
        height: fit-content;
        padding: 0.5em 1em;

    }

    /* DASHBOARD */
    .dashboard,
    .dashboard__textos ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dashboard__wrapper {
        padding: 3em 0;
    }

    .dashboard__textos {
        padding: 0 1em;
    }

    .dashboard__textos ul {
        gap: 0.5em;
    }

    .dashboard__textos__item {
        margin: 0;
        font-size: 12px;
    }

    .dashboard__imagem {
        width: 70%;
    }

    .planos__wrapper {
        padding: 1em 0;
    }

    .planos {
        height: fit-content;
        padding: 1.5em 0;
        width: 300px;
    }

    .planos__botoes {
        flex-direction: column;
        gap: 0
    }

    .planos__botoes button {
        margin-top: 1em;
    }

    /* NOTICIAS */
    .noticias__header {
        margin: 1em;
    }

    .noticias__header h1 {
        margin: 0;
    }

    .noticias__header hr {
        width: 44px;
    }

    .noticias__thumb {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    /* EVENTOS */
    .eventos {
        margin: 2em 1em 0;
    }

    .eventos hr {
        width: 150px;
    }

    .eventos__cards {
        flex-direction: column;
        align-items: center;
    }

    .evento__cards__item {
        width: fit-content;
        height: fit-content;
        margin: 1em;
    }

    .card__data__dia {
        font-size: 28px;
    }

    .card__evento h2 {
        font-size: 18px;
    }

    /* FOOTER */
    .mapa {
        gap: 15%;
    }

    .mapa ul li {
        font-size: 12px
    }

    .newsletter h2 {
        width: fit-content;
        font-size: 24px;
    }

    .newsletter .input {
        height: 45px;
        margin: 1em 0;
    }

    .input input {
        padding: 0 1em;
        font-size: 14px;
        width: 120px;
    }

    .input button {
        width: 120px;
    }

    .evento__cards__item {
        gap: 0.5em;
        margin: 0.5em;
    }

    .card__evento {
        width: 150px;
    }

    .embreve hr {
        width: 30px;
    }

    .card__botao {
        width: 40px;
    }
}